root = true

[*]
indent_style = space


[*.{xml,slnx,csproj}]
indent_size = 2


[*.cs]
indent_size = 4
tab_width = 4
end_of_line = lf
insert_final_newline = false

dotnet_separate_import_directive_groups = true
dotnet_sort_system_directives_first = true
file_header_template = unset
csharp_style_namespace_declarations = file_scoped

dotnet_diagnostic.CA1720.severity = none
dotnet_diagnostic.CA2007.severity = error
dotnet_diagnostic.CS1591.severity = none
dotnet_diagnostic.IDE0008.severity = none
dotnet_diagnostic.IDE0011.severity = none
dotnet_diagnostic.IDE0021.severity = none
dotnet_diagnostic.IDE0022.severity = none
dotnet_diagnostic.IDE0023.severity = none
dotnet_diagnostic.IDE0024.severity = none
dotnet_diagnostic.IDE0061.severity = none


[*{Tests,Benchmarks}.cs]
dotnet_diagnostic.CA1305.severity = none
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.CA2007.severity = none


[Program.cs]
dotnet_diagnostic.CA2007.severity = none